<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DapperDrops</title>
    <link rel="icon" href="/images/icons/logo.ico">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- G Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/49aaec98d5.js" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../css/styles.css">
</head>

<!-- ---------------NAVBAR START--------------- -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container-fluid">
      <!-- Brand logo hidden on large screens -->
      <a class="navbar-brand d-lg-none" href="/">
        <img src="../../images/icons/logo.png" class="img-logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
          <!-- Brand logo hidden on smaller screens -->
          <a class="navbar-brand d-none d-lg-block me-auto" href="/">
            <img src="../../images/icons/logo.png" class="img-logo" alt="">
          </a>

          <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Shoes
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/products/onhand">On-hand</a></li>
                <li><a class="dropdown-item" href="/products/preorder">Pre-order</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products/apparel">Apparel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/products/accessories">Accessories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link d-none d-lg-block" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-none d-lg-block" href="/cart/view-cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-none d-lg-block" href="/account/login"><i class="fa-solid fa-user"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>
<!-- ---------------NAVBAR END--------------- -->
<body>
