<%- include('../innerPartialsv2/admin/header', {name: fullName}); %>

<div class="container">
    <h1 class="text-center mt-2 mb-3">Add New Variation</h1> 
    <form action="/admin/products/<%= product._id %>/add-new-variation" method="POST" id="variation_form">
            <div class="mb-3" id="row">
                <label for="productId" class="form-label">Product: ID</label>
                <input type="text" class="form-control" name="productId" id="productId" value="<%= product._id %>">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Size:</label>
                <input type="text" class="form-control" name="name" id="name">
            </div>
            <div class="mb-3">
                <label for="quantity" class="form-label">Quantity</label>
                <input type="number" class="form-control" name="quantity" id="quantity">
            </div>
            <button type="submit" class="btn btn-primary mt-3" name="button">Submit</button>
            <a class="btn btn-secondary mt-3" href="/admin/products">Cancel</a>
    </form>
</div>
    
<%- include('../innerPartials/admin/footer'); %>