<%- include('../innerPartials/admin/header', {name: fullName}); %>

<div class="container">
    <h1 class="text-center mt-2 mb-3">Add Variations</h1> 
    <form action="/admin/products/add-variations" method="POST">
        <div class="mb-3">
            <label for="productId" class="form-label">Product: ID</label>
            <input type="text" class="form-control" name="productId" id="productId" value="<%= productId %>" >
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Size:</label>
            <input type="text" class="form-control" name="name" id="name" required>
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="quantity" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include('../innerPartials/admin/footer'); %>