<%- include('../innerPartials/admin/header', {name: fullName}); %>
<div class="container">
    <h1 class="text-center mt-2 mb-3">Add Product</h1> 
    <form action="/admin/products/add-product" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="inputBrandName" class="form-label">Brand Name:</label>
          <input type="text" class="form-control" id="inputBrandName" name="brand" required>
        </div>
        <div class="mb-3">
            <label for="inputName" class="form-label">Name:</label>
            <input type="text" class="form-control" id="inputName" name="name" required>
        </div>
        <div class="mb-3">
            <label for="inputPrice" class="form-label">Price:</label>
            <input type="number" class="form-control" id="inputPrice" name="price" required>
        </div>
        <div class="mb-3">
            <label for="inputDescription" class="form-label">Description:</label>
            <input type="text" class="form-control" id="inputDescription" name="description" required>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image:</label>
            <input type="file" class="form-control" id="image" name="image" required>
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">Category:</label>
            <select name="category" id="category" class="form-control">
                <option value="On-Hand">On-hand</option>
                <option value="Pre-Order">Pre-Order</option>
                <option value="Apparel">Apparel</option>
                <option value="Accessories">Accessories</option>
              </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        
      </form>
      
</div>

<%- include('../innerPartials/admin/footer'); %>