<%- include('../partials/admin/header'); %>
<div class="container">
    <h1 class="text-center mt-2 mb-3">Add Product</h1> 
    <form action="/addProduct" method="post">
        <div class="mb-3">
          <label for="inputBrandName" class="form-label">Brand Name:</label>
          <input type="text" class="form-control" id="inputBrandName" name="productBrand">
        </div>
        <div class="mb-3">
            <label for="inputName" class="form-label">Name:</label>
            <input type="text" class="form-control" id="inputName" name="productName">
        </div>
        <div class="mb-3">
            <label for="inputPrice" class="form-label">Price:</label>
            <input type="number" class="form-control" id="inputPrice" name="productPrice">
        </div>
        <div class="mb-3">
            <label for="inputDescription" class="form-label">Description:</label>
            <input type="text" class="form-control" id="inputDescription" name="productDescription">
        </div>
        <div class="mb-3">
            <label for="inputQuantity" class="form-label">Quantity:</label>
            <input type="number" class="form-control" id="inputQuantity" name="productQuantity">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

<%- include('../partials/admin/footer'); %>