<%- include('../partials/admin/header'); %>
<h1 class="text-center mt-2 mb-3">Inventory</h1> 
<nav class="navbar p-0">
    <div class="container justify-content-end">
        <div class="float-end ms-3 mb-1">
            <form action="" method="post" class="row d-flex">
                <input class="form-control col me-3" type="search" placeholder="Search" name="">
                <input class= "btn btn-outline-dark col-2 me-3" type="button" name="" value = "Go">  
                <a class="btn btn-light col-3 me-3" href="#" name="">Sort<i class="fa-solid fa-filter"></i></a>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="col-lg col-md">
        <div class="card shadow p-3 bg-body rounded">
            <div class="card-body">
                <div class="table table-responsive">
                    <table class="table table-sm">
                        <tr>
                            <th>ID</th>
                            <th>Product Type</th>
                            <th>Brand</th>
                            <th>Name</th>
                            <th>Net Sales</th>
                            <th>Items Sold</th>
                            <th>Items Remaining</th>
                            <th>Action</th>
                        </tr>
                        <tr>
                            <td>jordan</td>
                            <td>jordan</td>
                            <td>jordan</td>
                            <td>jordan</td>
                            <td>jordan</td>
                            <td>jordan</td>
                            <td>jordan</td>
                            <td>
                                <a class="" href="#"><i class="fa-solid fa-pen-to-square me-1"></i></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/admin/footer'); %>