<%- include('../partials/header'); %>
<div class="container">
    <h1 class="fw-bold">Change Password</h1>
    <div class="card">
        <div class="card-body">
            <form action="/account/change-password" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="oldPassword">Old Password</label>
                    <input class="form-control" type="password" name="oldPassword" id="oldPassword" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="newPassword">New Password</label>
                    <input class="form-control" type="password" name="newPassword" id="newPassword" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                    <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
                <% if(errorMessage != null){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= errorMessage %>
                    </div>
                <% } else if(successMessage != null) { %>
                    <div class="alert alert-success" role="alert">
                        <%= successMessage %>
                    </div>
                <% } %>
            </form>
        </div>
    </div>
    
</div>
<%- include('../partials/footer'); %>
