<%- include('partials/header') %>

    <div class="container">
      <h1 class="cust-title-text mb-5 text-center">About Us</h1>
      <div class="row">
        <div class="col-lg-6">
          <img src="images/about-us/image1.jpg" class="mb-5" style="width: 100%;" alt="">
        </div>
        <div class="col-lg-6">
          <p class="fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint a totam adipisci deleniti quos laudantium voluptates ducimus suscipit voluptate architecto voluptatem, dignissimos dolorum asperiores! Nesciunt sed odio obcaecati nostrum illum!</p>
          <p class="fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint a totam adipisci deleniti quos laudantium voluptates ducimus suscipit voluptate architecto voluptatem, dignissimos dolorum asperiores! Nesciunt sed odio obcaecati nostrum illum!</p>
          <p class="fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint a totam adipisci deleniti quos laudantium voluptates ducimus suscipit voluptate architecto voluptatem, dignissimos dolorum asperiores! Nesciunt sed odio obcaecati nostrum illum!</p>
          <p class="fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint a totam adipisci deleniti quos laudantium voluptates ducimus suscipit voluptate architecto voluptatem, dignissimos dolorum asperiores! Nesciunt sed odio obcaecati nostrum illum!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <img src="images/about-us/image2.png" class="mb-5" style="width: 100%;" alt="">
        </div>
        <div class="col-lg-6">
          <img src="images/about-us/image3.png" class="mb-5" style="width: 100%;" alt="">
        </div>
      </div>
    </div>
    
<%- include('partials/footer') %>