<form action="/account/address" method="POST">
    <div>
        <label for="fullName">Full Name</label>
        <input type="text" name="fullName" id="fullName">
    </div>
    <div>
        <label for="phoneNumber">Phone Number</label>
        <input type="text" name="phoneNumber" id="phoneNumber">
    </div>
    <div>
        <label for="region">Region</label>
        <input type="text" name="region" id="region">
    </div>
    <div>
        <label for="province">Province</label>
        <input type="text" name="province" id="province">
    </div>
    <div>
        <label for="city">City</label>
        <input type="text" name="city" id="city">
    </div>
    <div>
        <label for="barnagayu">Barangay</label>
        <input type="text" name="barangay" id="barangay">
    </div>
    <div>
        <label for="postalCode">Postal Code</label>
        <input type="text" name="postalCode" id="postalCode">
    </div>
    <div>
        <label for="streetName">Street Name, Building, House #</label>
        <input type="text" name="streetName" id="streetName">
    </div>
    <button type="submit">Add</button>
</form>