<%- include('partials/header') %>

    <div class="container">
        <h1 class="cust-title-text mb-5 text-center">Bulk Order Discount</h1>
        <h3>If you need to purchase more than <b><u>10 products</b></u> of shoes 
            or apparels for gifts or personal collection, 
            we got you! 
        </h3>
        <br>
        <h4>
            Instructions: 
        </h4>
        <br>
        <div>
        <p>
            (1)	EMAIL us at dapperdrops@yahoo.com or DM us 
            at IG @dapper.dropsph and let us know your orders 
            or how many you intend to get. 
        </p>
        <p>
            (2) We can give you a personalized discount rate / free shipping  
            & discuss order details, ex; multiple shipments to different 
            locations.
        </p>
        <p>
            (3) Update your wardrobe or have our footwear, 
            apparels & accessories as gifts and we shall 
            make sure to put in freebies! ❤️
        </p>
        </div>
    </div>
    
<%- include('partials/footer', { content: content }) %>