<%- include('partials/header') %>

<div class="container">
    <h3 class="fw-bold text-center">Congratulations you have successfully verified your account! You may now login your account.</h3>
</div>

<%- include('partials/footer') %>