<%- include('partials/header') %>

    <div class="container">
        <div class="card mx-auto border-0" style="width: 25rem;">
            <div class="card-body">
                <h1 class="fw-bold mb-3">Reset Password</h1>
                <form action="/account/forget-password" method="POST">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label fw-bold">Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password" name="password">
                        <input type="hidden" name="userId" value="<%= userId %>">
                    </div>
                    <div class="mb-3">
                        <button type="submit" value="reset" class="btn btn-dark">Reset Password</button>
                    </div>
                </form>

                <%
                    if(typeof message !== "undefined"){ %>
                        <p style="color: green;"><%= message %></p>
                    <% }
                %>
            </div>
        </div>
        

    </div>
    
<%- include('partials/footer') %>