<%- include('partials/header') %>

    <div class="container">
        <div class="card mx-auto border-0" style="width: 22.5rem;">
            <div class="card-body">
                <h1 class="fw-bold mb-3">Login</h1>
                <form action="/account/login" method="POST">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label fw-bold">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label fw-bold">Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password" name="password">
                    </div>
                    <div class="mb-3">
                        <button type="submit" value="login" class="btn btn-dark">Sign In</button>
                    </div>
                </form>

                <%
                    if(typeof message !== "undefined"){ %>
                        <p style="color: green;"><%= message %></p>
                    <% }
                %>

                <div class="row">
                    <div class="col-6 me-auto">
                        <a href="/account/register" class="fw-bold" style="text-decoration: none; color:black;">Register</a>
                    </div>
                    <div class="col-6">
                        <a href="/account/forgot" class="fw-bold" style="text-decoration: none; color:black;">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
    
<%- include('partials/footer') %>