body{
    font-family: 'Montserrat', sans-serif;
}
.header {
    padding: 60px;
    text-align: center;
    background: white;
    color: black;
    font-size: 30px;
  }
.banner{
    font-size: medium;
    text-align: center;
}

.cust-landing-text{
    font-size: 5vw;
    font-weight: bold;
}

.cust-title-text{
    font-weight: bold;
}

/* Product Card Text */
.cust-prod-text{
    font-weight: bold;
}

.cust-prod-link{
    color: black;
    text-decoration: none;
}

.img-logo{
    width: 60px;
}

/* Image Content */

.squareHomeAboutUs {
    aspect-ratio: 1/1;
    width: 100%;
}

.paymentImage {
    aspect-ratio: 1/1;
    width: 50%;
}

