body{
    font-family: 'Montserrat', sans-serif;
}
.header {
    padding: 60px;
    text-align: center;
    background: black;
    color: palevioletred;
    font-size: 30px;
  }

.cust-landing-text{
    font-size: 6vw;
    font-weight: bold;
}

.cust-title-text{
    font-weight: bold;
}

/* Product Card Text */
.cust-prod-text{
    font-weight: bold;
}

.cust-prod-link{
    color: black;
    text-decoration: none;
}

.img-logo{
    width: 60px;
}

/* Image Content */

.squareHomeAboutUs {
    aspect-ratio: 1/1;
    width: 100%;
}

.paymentImage {
    aspect-ratio: 1/1;
    width: 50%;
}

