<%- include('../../partials/admin/header', {name: fullName}); %>

    <div class="container">
        <form action="/admin/content/add">
            <input type="text">
        </form>
    </div>

<%- include('../../partials/admin/footer'); %>