<%- include('../../innerPartials/admin/header', {name: fullName}); %>

<div class="container">
    <h1 class="fw-bold text-center mt-2 mb-3">View About Us Image</h1>
    <% if(content.aboutUsImage.length == 0) { %>
        <h3 class="fw-bold text-center">There are no home images yet</h3>
        <a class="btn btn-outline-secondary mb-3" href="/admin/content"><i class="fa-solid fa-left-long"></i> Back</a><br>
        <a class="btn btn-outline-success mb-3" href="add-aboutusImage1">Add Image 1</i></a>
        <a class="btn btn-outline-success mb-3" href="add-aboutusImage2">Add Image 2</i></a>
        <a class="btn btn-outline-success mb-3" href="add-aboutusImage3">Add Image 3</i></a>
    <% } else { %>
        <a class="btn btn-outline-secondary mb-3" href="/admin/content"><i class="fa-solid fa-left-long"></i> Back</a>
        <a class="btn btn-outline-success mb-3" href="add-aboutusImage1">Add Image 1</i></a>
        <a class="btn btn-outline-success mb-3" href="add-aboutusImage2">Add Image 2</i></a>
        <a class="btn btn-outline-success mb-3" href="add-aboutusImage3">Add Image 3</i></a>
        <div class="row">
        <%content.aboutUsImage.forEach(function(aboutUsImage){%>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <div class="card-header d-flex">
                        <div class="ms-auto">
                        </div>
                    </div>
                    <div class="card-body">
                        <img src="<%= aboutUsImage.image.url %>" class="w-100">
                    </div>
                </div>
            </div>
        <% }) %>
        </div>
    <% } %>
</div>

<%- include('../../innerPartials/admin/footer'); %>