<%- include('../innerPartials/header'); %>

<div class="container text-center">
    <img src="/images/icons/404-error.png" alt="" class="mb-3 img-404">
    <h1 class="fw-bold">PAGE NOT FOUND</h1>
    <div>Sorry, it seems that the page you are looking for might have been removed</div>
    <p>or had its name changed or is temporarily unavailable.</p>
    <a class="btn btn-secondary" href="/">Home</a>

</div>

<%- include('../innerPartials/footer'); %>
