<%- include('../innerPartials/header'); %>

<div class="container">
    <h4>Sorry, it seems that the product you are looking for no longer exists or has been removed.</h4>
    <span><a href="/">Go to home page?</a></span>
</div>

<%- include('../innerPartials/footer'); %>
