<%- include('../../innerPartials/admin/header', {name: fullName}); %>

<div class="container">
    <h1 class="fw-bold text-center">Reports</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Sales</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Inventory Performance</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Earnings</a></li>
            <li><a class="dropdown-item" href="#">Quantity Sold</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Stock Level</a>
        </li>
    </ul>


</div>

<%- include('../../innerPartials/admin/footer'); %>
