<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | DapperDrops</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- G Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/49aaec98d5.js" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link href="../css/dashboard.css" rel="stylesheet"/>
</head>
<body>

    <div class="d-flex" id="wrapper">
        <!-- ---------------SIDEBAR START--------------- -->
        <div class="border-end border-dark bg-white" id="sidebar-wrapper">

            <div class="sidebar-heading border-bottom border-dark bg-light">
                <i class="fa-solid fa-user fa-2x me-3"><a class="navbar-brand" href="#"></i>John Sims</a>
            </div>

            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light border-bottom border-dark p-3 dashboard-links" href="dashboard-template.html"><i class="fa-solid fa-box me-2 dash-icons"></i>Dashboard</a>
                <a class="list-group-item list-group-item-action list-group-item-light border-bottom border-dark p-3 dashboard-links" href="admin/products.html"><i class="fa-solid fa-socks me-2 dash-icons"></i>Products</a>
                <a class="list-group-item list-group-item-action list-group-item-light border-bottom border-dark p-3 dashboard-links" href="admin/inventory.html"><i class="fa-solid fa-layer-group me-2 dash-icons"></i>Inventory</a>
                <a class="list-group-item list-group-item-action list-group-item-light border-bottom border-dark p-3 dashboard-links" href="#!"><i class="fa-solid fa-chart-simple me-2 dash-icons"></i>Reports</a>
                <a class="list-group-item list-group-item-action list-group-item-light border-bottom border-dark p-3 dashboard-links" href="admin/orders.html"><i class="fa-solid fa-dolly me-2 dash-icons"></i>Orders</a>
                <a class="list-group-item list-group-item-action list-group-item-light border-bottom border-dark p-3 dashboard-links" href="#!"><i class="fa-solid fa-thumbs-up me-2 dash-icons"></i>Feedback</a>
                <a class="list-group-item list-group-item-action list-group-item-light border-bottom border-dark p-3 dashboard-links" href="admin/accounts.html"><i class="fa-solid fa-user-pen me-2 dash-icons"></i>Accounts</a>
                <a class="list-group-item list-group-item-action list-group-item-light border-bottom border-dark p-3 dashboard-links logout-link" href="/login"><i class="fa-solid fa-right-from-bracket me-2 dash-icons logout-icon"></i>Log-out</a>
            </div>
        </div>
        <!-- ---------------SIDEBAR END--------------- -->
                <!-- ---------------PAGE CONTENT WRAPPER; ALL CONTENT IS DISPLAYED INSIDE THIS CONTAINER START--------------- -->
                <div id="page-content-wrapper">

                    <!-- ---------------MENU BUTTON AND NAVBAR START--------------- -->
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container">
                            <a class="navbar-brand" id="sidebarToggle">
                                <img src="../images/icons/menu.png" class="img-menu" alt="">
                            </a>
                            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                    <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#!">Action</a>
                                            <a class="dropdown-item" href="#!">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#!">Something else here</a>
                                        </div>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </nav>
                    <!-- ---------------MENU BUTTON AND NAVBAR END--------------- -->
        
                    <!-- ---------------DASHBOARD CONTENT BELOW NAVBAR START--------------- -->